<!-- views/pages/gifchat.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
  <title>GifChat | CS 313 Node.js Project</title>
  <script src="/scripts/gifchat_client.js"></script>
  <!-- Page specific css -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/gifchat.css" />
</head>

<body>

  <header>
    <div class="jumbotron">
      <h1>GifChat</h1>
    </div>
  </header>
  <aside class="sidebar">
    <div class="sidebar-header">
      <div class="form-group">
        <label for="searchPhrase">Search GIPHY</label>
        <input type="text" id="searchPhrase" class="form-control" required>
      </div>
      <button class="btn btn-primary" id="searchGiphy">Search GIPHY</button>
    </div>
    <div class="container pt-3" id="gifResults"></div>
  </aside>

  <section class="main">
    <div class="container pt-3">
      <p>Welcome <strong><%= username %></strong>! <a href="/logout">Log out?</a></p>
    </div>
    <div class="container pt-3" id="messagediv">
      <div class="form-group">
        <label for="gifUrl">mp4 video link (optional)</label>
        <input type="text" id="gifUrl" class="form-control">
      </div>
      <div class="form-group">
        <label for="message">Message (Ctrl+Enter sends)</label>
        <textarea id="message" class="form-control" rows="3"></textarea>
      </div>
      <button class="btn btn-primary" id="postMessage">Post Message</button>
    </div>
    <div class="container">
      <div class="alert alert-dismissible fade hide alert-danger" role="alert" id="messagenotpostedalert">
        Unauthorized access, message not posted.
      </div>
    </div>

    <div class="container pt-3">
      <h2 class="display-5">Chat Area</h2>
      <div class="container pt-3" id="chatArea"></div>
    </div>
    
  </section>
  
</body>

</html>