<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <div class="jumbotron">
    <h1>Welcome to the main page</h1>
    <p>Here is some text</p>
  </div>
  <div class="container">
    <p><a href="/postal">09 Prove - Postal Rate Calculate</p>
  </div>
</body>

</html>